diffusers==0.35.1
transformers==4.45.1
accelerate==0.28.0
torch==2.0.1
pillow==10.4.0
opencv-python==4.10.0.84
insightface==0.7.3
controlnet-aux==0.0.9
einops==0.8.0
safetensors==0.4.3
huggingface-hub==0.23.4
numpy